<div id="map">

</div>

<br>

<div class="container">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam et sem bibendum
  condimentum at vitae dui. Donec placerat, augue id hendrerit malesuada, orci arcu mattis
  nunc, dictum molestie tellus quam eu ligula. Nam eu metus turpis. Duis sodales finibus
  nunc, sit amet gravida lorem lobortis et. Fusce eget enim sit amet nibh tempor mattis
  eget non velit. Sed risus nibh, consequat non malesuada sed, dignissim nec augue.
  Nullam tristique quis nunc ac suscipit. Cras nec maximus quam, ut posuere lectus.
  Sed posuere nunc elit, tempus mattis metus vestibulum a.</p>
</div>