<div id="full_loader" style="display: none; position: fixed; width: 100%; height: 100%; z-index: 999; background: rgba(0, 32, 49, 0.8)">
 <div class="main">
    <div class="s1">
      <div class="s b sb1"></div>
      <div class="s b sb2"></div>
      <div class="s b sb3"></div>
      <div class="s b sb4"></div>
    </div>
    <div class="s2">
      <div class="s b sb5"></div>
      <div class="s b sb6"></div>
      <div class="s b sb7"></div>
      <div class="s b sb8"></div>
    </div>
    <div class="bigcon">
      <div class="big b"></div>
    </div>
    <div class="loader_message">Cargando</div>
  </div>
</div>
